@import "tailwindcss";

:root {
  --gradient-button: linear-gradient(90deg, #b603ff 0%, #3300ff 100%);
  --gradient-bg: linear-gradient(90deg, #1f325f 0%, #1e0045 100%);
}

* {
  transition: .3s;
}

.my-bg {
  background: var(--gradient-bg);
  background-repeat: no-repeat;
  background-size: cover;
}

.my-bg-button {
  background: var(--gradient-button);
  background-repeat: no-repeat;
  background-size: cover;
}

.tag {
  color: #b603ff;
}

button {
  cursor: pointer;
}

.bg-tag {
  background-color: #b603ff;
  color: white;
}

.tag-hover {
  transition: 0.3s;
}

.tag-hover:hover {
  color: #b603ff;
}

.click-point {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.click-point:hover {
  opacity: 0.8;
}